In [2]:
import requests
import json
import pandas as pd

In [ ]:
url = "https://ec.europa.eu/eurostat/api/dissemination/statistics/1.0/data/migr_asydcfsta?format=JSON&time=2022&time=2023&time=2024&unit=PER&citizen=LI&citizen=UK_OCT&citizen=BA&citizen=ME&citizen=MD&citizen=MK&citizen=GE&citizen=AL&citizen=RS&citizen=TR&citizen=UA&citizen=XK&citizen=AD&citizen=BY&citizen=VA&citizen=RU&citizen=SM&citizen=AO&citizen=CM&citizen=CF&citizen=TD&citizen=CG&citizen=CD&citizen=GQ&citizen=GA&citizen=ST&citizen=BI&citizen=KM&citizen=DJ&citizen=ER&citizen=ET&citizen=KE&citizen=MG&citizen=MW&citizen=MU&citizen=MZ&citizen=RW&citizen=SC&citizen=SO&citizen=UG&citizen=TZ&citizen=ZM&citizen=ZW&citizen=DZ&citizen=EG&citizen=LY&citizen=MA&citizen=SS&citizen=SD&citizen=TN&citizen=EH&citizen=BW&citizen=LS&citizen=NA&citizen=ZA&citizen=SZ&citizen=BJ&citizen=BF&citizen=CV&citizen=CI&citizen=GM&citizen=GH&citizen=GN&citizen=GW&citizen=LR&citizen=ML&citizen=MR&citizen=NE&citizen=NG&citizen=SN&citizen=SL&citizen=TG&citizen=AG&citizen=BS&citizen=BB&citizen=CU&citizen=DM&citizen=DO&citizen=GD&citizen=HT&citizen=JM&citizen=KN&citizen=LC&citizen=VC&citizen=TT&citizen=BZ&citizen=CR&citizen=SV&citizen=GT&citizen=HN&citizen=MX&citizen=NI&citizen=PA&citizen=AR&citizen=BO&citizen=BR&citizen=CL&citizen=CO&citizen=EC&citizen=GY&citizen=PY&citizen=PE&citizen=SR&citizen=UY&citizen=VE&citizen=KZ&citizen=KG&citizen=TJ&citizen=TM&citizen=UZ&citizen=CN&citizen=JP&citizen=MN&citizen=KP&citizen=KR&citizen=TW&citizen=AF&citizen=BD&citizen=BT&citizen=IN&citizen=IR&citizen=MV&citizen=NP&citizen=PK&citizen=LK&citizen=BN&citizen=KH&citizen=ID&citizen=LA&citizen=MY&citizen=MM&citizen=PH&citizen=SG&citizen=TH&citizen=TL&citizen=VN&citizen=AM&citizen=AZ&citizen=BH&citizen=IQ&citizen=IL&citizen=JO&citizen=KW&citizen=LB&citizen=PS&citizen=OM&citizen=QA&citizen=SA&citizen=SY&citizen=AE&citizen=YE&citizen=AU&citizen=NZ&citizen=FJ&citizen=PG&citizen=SB&citizen=VU&citizen=KI&citizen=MH&citizen=FM&citizen=NR&citizen=PW&citizen=CK&citizen=WS&citizen=TO&citizen=TV&citizen=RNC&citizen=STLS&citizen=UNK&sex=M&sex=F&age=Y_LT14&age=Y14-17&age=Y_LT18&age=Y18-34&age=Y35-64&age=Y_GE65&decision=TOTAL_POS&decision=REJECTED&lang=en"
response = requests.get(url)
data = response.json()

dimensions = data['dimension']
values = data['value']


rows = []


dim_names = list(dimensions.keys())


for index, value in values.items():
    row = {}
    

    idx = int(index)
    

    temp_idx = idx
    for dim_name in reversed(dim_names):
        dim_size = len(dimensions[dim_name]['category']['index'])
        dim_idx = temp_idx % dim_size
        temp_idx = temp_idx // dim_size
        
  
        dim_keys = list(dimensions[dim_name]['category']['index'].keys())
        category_key = dim_keys[dim_idx]
        
      
        if 'label' in dimensions[dim_name]['category']:
            row[dim_name] = dimensions[dim_name]['category']['label'].get(category_key, category_key)
        else:
            row[dim_name] = category_key
    
  
    row['value'] = value
    rows.append(row)


df = pd.DataFrame(rows)
print(df.head())
print(f"\nDataFrame shape: {df.shape}")
print(f"\nColumns: {df.columns.tolist()}")
print(f"\nValue types: {df['value'].apply(type).value_counts()}")

   time      geo  decision                  age      sex  citizen    unit  \
0  2022  Austria  Rejected  From 14 to 17 years  Females  Andorra  Person
1  2023  Austria  Rejected  From 14 to 17 years  Females  Andorra  Person
2  2024  Austria  Rejected  From 14 to 17 years  Females  Andorra  Person
3  2022  Belgium  Rejected  From 14 to 17 years  Females  Andorra  Person
4  2023  Belgium  Rejected  From 14 to 17 years  Females  Andorra  Person

     freq  value
0  Annual      0
1  Annual      0
2  Annual      0
3  Annual      0
4  Annual      0

DataFrame shape: (401544, 9)

Columns: ['time', 'geo', 'decision', 'age', 'sex', 'citizen', 'unit', 'freq', 'value']

Value types: value
<class 'int'>    401544
Name: count, dtype: int64

In [5]:
print("Decision types:", df['decision'].unique())

Decision types: ['Rejected' 'Total positive decisions']

In [6]:
asylum_drop = df.drop(["unit","freq"], axis =1 )
asylum_drop.head()

   time      geo  decision                  age      sex  citizen  value
0  2022  Austria  Rejected  From 14 to 17 years  Females  Andorra      0
1  2023  Austria  Rejected  From 14 to 17 years  Females  Andorra      0
2  2024  Austria  Rejected  From 14 to 17 years  Females  Andorra      0
3  2022  Belgium  Rejected  From 14 to 17 years  Females  Andorra      0
4  2023  Belgium  Rejected  From 14 to 17 years  Females  Andorra      0

In [7]:
asylum_drop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401544 entries, 0 to 401543
Data columns (total 7 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   time      401544 non-null  object
 1   geo       401544 non-null  object
 2   decision  401544 non-null  object
 3   age       401544 non-null  object
 4   sex       401544 non-null  object
 5   citizen   401544 non-null  object
 6   value     401544 non-null  int64
dtypes: int64(1), object(6)
memory usage: 21.4+ MB

In [8]:
print(df)

        time       geo                  decision                  age  \
0       2022   Austria                  Rejected  From 14 to 17 years
1       2023   Austria                  Rejected  From 14 to 17 years
2       2024   Austria                  Rejected  From 14 to 17 years
3       2022   Belgium                  Rejected  From 14 to 17 years
4       2023   Belgium                  Rejected  From 14 to 17 years
...      ...       ...                       ...                  ...
401539  2023  Slovenia  Total positive decisions   Less than 18 years
401540  2024  Slovenia  Total positive decisions   Less than 18 years
401541  2022  Slovakia  Total positive decisions   Less than 18 years
401542  2023  Slovakia  Total positive decisions   Less than 18 years
401543  2024  Slovakia  Total positive decisions   Less than 18 years

            sex   citizen    unit    freq  value
0       Females   Andorra  Person  Annual      0
1       Females   Andorra  Person  Annual      0
2       Females   Andorra  Person  Annual      0
3       Females   Andorra  Person  Annual      0
4       Females   Andorra  Person  Annual      0
...         ...       ...     ...     ...    ...
401539    Males  Zimbabwe  Person  Annual      0
401540    Males  Zimbabwe  Person  Annual      0
401541    Males  Zimbabwe  Person  Annual      0
401542    Males  Zimbabwe  Person  Annual      0
401543    Males  Zimbabwe  Person  Annual      0

[401544 rows x 9 columns]