In [33]:
import requests
import json
import pandas as pd

In [34]:
url = "https://ec.europa.eu/eurostat/api/dissemination/statistics/1.0/data/migr_asydcfsta?format=JSON&time=2024&unit=PER&citizen=LI&citizen=UK_OCT&citizen=BA&citizen=ME&citizen=MD&citizen=MK&citizen=GE&citizen=AL&citizen=RS&citizen=TR&citizen=UA&citizen=XK&citizen=AD&citizen=BY&citizen=VA&citizen=MC&citizen=RU&citizen=SM&citizen=AO&citizen=CM&citizen=CF&citizen=TD&citizen=CG&citizen=CD&citizen=GQ&citizen=GA&citizen=ST&citizen=BI&citizen=KM&citizen=DJ&citizen=ER&citizen=ET&citizen=KE&citizen=MG&citizen=MW&citizen=MU&citizen=MZ&citizen=RW&citizen=SC&citizen=SO&citizen=UG&citizen=TZ&citizen=ZM&citizen=ZW&citizen=DZ&citizen=EG&citizen=LY&citizen=MA&citizen=SS&citizen=SD&citizen=TN&citizen=EH&citizen=BW&citizen=LS&citizen=NA&citizen=ZA&citizen=SZ&citizen=BJ&citizen=BF&citizen=CV&citizen=CI&citizen=GM&citizen=GH&citizen=GN&citizen=GW&citizen=LR&citizen=ML&citizen=MR&citizen=NE&citizen=NG&citizen=SN&citizen=SL&citizen=TG&citizen=AG&citizen=BS&citizen=BB&citizen=CU&citizen=DM&citizen=DO&citizen=GD&citizen=HT&citizen=JM&citizen=KN&citizen=LC&citizen=VC&citizen=TT&citizen=BZ&citizen=CR&citizen=SV&citizen=GT&citizen=HN&citizen=MX&citizen=NI&citizen=PA&citizen=AR&citizen=BO&citizen=BR&citizen=CL&citizen=CO&citizen=EC&citizen=GY&citizen=PY&citizen=PE&citizen=SR&citizen=UY&citizen=VE&citizen=KZ&citizen=KG&citizen=TJ&citizen=TM&citizen=UZ&citizen=CN&citizen=JP&citizen=MN&citizen=KP&citizen=KR&citizen=TW&citizen=AF&citizen=BD&citizen=BT&citizen=IN&citizen=IR&citizen=MV&citizen=NP&citizen=PK&citizen=LK&citizen=BN&citizen=KH&citizen=ID&citizen=LA&citizen=MY&citizen=MM&citizen=PH&citizen=SG&citizen=TH&citizen=TL&citizen=VN&citizen=AM&citizen=AZ&citizen=BH&citizen=IQ&citizen=IL&citizen=JO&citizen=KW&citizen=LB&citizen=PS&citizen=OM&citizen=QA&citizen=SA&citizen=SY&citizen=AE&citizen=YE&citizen=AU&citizen=NZ&citizen=FJ&citizen=PG&citizen=SB&citizen=VU&citizen=KI&citizen=MH&citizen=FM&citizen=NR&citizen=PW&citizen=CK&citizen=WS&citizen=TO&citizen=TV&citizen=RNC&citizen=STLS&citizen=TOTAL&citizen=UNK&sex=T&sex=M&sex=F&sex=UNK&age=TOTAL&age=Y_LT14&age=Y14-17&age=Y_LT18&age=Y18-34&age=Y35-64&age=Y_GE65&age=UNK&decision=TOTAL&decision=TOTAL_POS&decision=REJECTED&lang=en"
response = requests.get(url)
data = response.json()

dimensions = data['dimension']
values = data['value']


rows = []


dim_names = list(dimensions.keys())


for index, value in values.items():
    row = {}
    

    idx = int(index)
    

    temp_idx = idx
    for dim_name in reversed(dim_names):
        dim_size = len(dimensions[dim_name]['category']['index'])
        dim_idx = temp_idx % dim_size
        temp_idx = temp_idx // dim_size
        
  
        dim_keys = list(dimensions[dim_name]['category']['index'].keys())
        category_key = dim_keys[dim_idx]
        
      
        if 'label' in dimensions[dim_name]['category']:
            row[dim_name] = dimensions[dim_name]['category']['label'].get(category_key, category_key)
        else:
            row[dim_name] = category_key
    
  
    row['value'] = value
    rows.append(row)


df = pd.DataFrame(rows)
print(df.head())
print(f"\nDataFrame shape: {df.shape}")
print(f"\nColumns: {df.columns.tolist()}")
print(f"\nValue types: {df['value'].apply(type).value_counts()}")

   time          geo  decision    age      sex  citizen    unit    freq  value
0  2024      Austria  Rejected  Total  Females  Andorra  Person  Annual      0
1  2024      Belgium  Rejected  Total  Females  Andorra  Person  Annual      0
2  2024     Bulgaria  Rejected  Total  Females  Andorra  Person  Annual      0
3  2024  Switzerland  Rejected  Total  Females  Andorra  Person  Annual      0
4  2024       Cyprus  Rejected  Total  Females  Andorra  Person  Annual      0

DataFrame shape: (541728, 9)

Columns: ['time', 'geo', 'decision', 'age', 'sex', 'citizen', 'unit', 'freq', 'value']

Value types: value
<class 'int'>    541728
Name: count, dtype: int64

In [35]:
print("Decision types:", df['decision'].unique())

Decision types: ['Rejected' 'Total' 'Total positive decisions']

In [39]:
asylum_drop = df.drop(["unit","freq"], axis =1 )
asylum_drop.head()

   time          geo  decision    age      sex  citizen  value
0  2024      Austria  Rejected  Total  Females  Andorra      0
1  2024      Belgium  Rejected  Total  Females  Andorra      0
2  2024     Bulgaria  Rejected  Total  Females  Andorra      0
3  2024  Switzerland  Rejected  Total  Females  Andorra      0
4  2024       Cyprus  Rejected  Total  Females  Andorra      0

In [37]:
asylum_drop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541728 entries, 0 to 541727
Data columns (total 7 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   time      541728 non-null  object
 1   geo       541728 non-null  object
 2   decision  541728 non-null  object
 3   age       541728 non-null  object
 4   sex       541728 non-null  object
 5   citizen   541728 non-null  object
 6   value     541728 non-null  int64
dtypes: int64(1), object(6)
memory usage: 28.9+ MB

In [38]:
display(df)

,time,geo,decision,age,sex,citizen,unit,freq,value
0,2024,Austria,Rejected,Total,Females,Andorra,Person,Annual,0
1,2024,Belgium,Rejected,Total,Females,Andorra,Person,Annual,0
2,2024,Bulgaria,Rejected,Total,Females,Andorra,Person,Annual,0
3,2024,Switzerland,Rejected,Total,Females,Andorra,Person,Annual,0
4,2024,Cyprus,Rejected,Total,Females,Andorra,Person,Annual,0
...,...,...,...,...,...,...,...,...,...
541723,2024,Portugal,Total positive decisions,Less than 18 years,Unknown,Zimbabwe,Person,Annual,0
541724,2024,Romania,Total positive decisions,Less than 18 years,Unknown,Zimbabwe,Person,Annual,0
541725,2024,Sweden,Total positive decisions,Less than 18 years,Unknown,Zimbabwe,Person,Annual,0
541726,2024,Slovenia,Total positive decisions,Less than 18 years,Unknown,Zimbabwe,Person,Annual,0
541727,2024,Slovakia,Total positive decisions,Less than 18 years,Unknown,Zimbabwe,Person,Annual,0

In [42]:
asylum_drop = asylum_drop[asylum_drop["value"] != 0]
display(asylum_drop)

,time,geo,decision,age,sex,citizen,value
4004,2024,European Union - 27 countries (from 2020),Total,Total,Males,United Arab Emirates,5
4796,2024,European Union - 27 countries (from 2020),Total,Total,Total,United Arab Emirates,5
6336,2024,Austria,Rejected,Total,Females,Afghanistan,25
6337,2024,Belgium,Rejected,Total,Females,Afghanistan,30
6339,2024,Switzerland,Rejected,Total,Females,Afghanistan,455
...,...,...,...,...,...,...,...
540895,2024,Netherlands,Total,Less than 18 years,Total,Zimbabwe,5
540900,2024,Sweden,Total,Less than 18 years,Total,Zimbabwe,5
540909,2024,Germany,Total positive decisions,Less than 18 years,Total,Zimbabwe,5
540914,2024,European Union - 27 countries (from 2020),Total positive decisions,Less than 18 years,Total,Zimbabwe,75
540919,2024,Ireland,Total positive decisions,Less than 18 years,Total,Zimbabwe,65

In [43]:
asylum_drop = asylum_drop[(asylum_drop["age"] != "Total") & (asylum_drop["sex"] != "Total")]
display(asylum_drop)

,time,geo,decision,age,sex,citizen,value
6537,2024,Switzerland,Rejected,From 14 to 17 years,Females,Afghanistan,35
6540,2024,Germany,Rejected,From 14 to 17 years,Females,Afghanistan,40
6543,2024,Greece,Rejected,From 14 to 17 years,Females,Afghanistan,5
6544,2024,Spain,Rejected,From 14 to 17 years,Females,Afghanistan,5
6545,2024,European Union - 27 countries (from 2020),Rejected,From 14 to 17 years,Females,Afghanistan,70
...,...,...,...,...,...,...,...
540084,2024,Germany,Total,Less than 18 years,Males,Zimbabwe,25
540089,2024,European Union - 27 countries (from 2020),Total,Less than 18 years,Males,Zimbabwe,65
540094,2024,Ireland,Total,Less than 18 years,Males,Zimbabwe,35
540122,2024,European Union - 27 countries (from 2020),Total positive decisions,Less than 18 years,Males,Zimbabwe,35
540127,2024,Ireland,Total positive decisions,Less than 18 years,Males,Zimbabwe,30