In [32]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import requests
import json
from datetime import datetime
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
from bs4 import BeautifulSoup
from itertools import zip_longest
import re

In [33]:
def preview_dataset(url, name, rows=5):
    response = requests.get(url)

    data = response.json()
    print(f" Accessed {name} Data")
    print("Dimensions:", list(data["dimension"].keys()))

    # Show first key-value pairs
    values = list(data["value"].items())[:rows]
    df = pd.DataFrame(values, columns=["Key", "Value"])
    display(df)

In [34]:
# 1. Average Weekly Hours Worked
preview_dataset(
    "https://ec.europa.eu/eurostat/api/dissemination/statistics/1.0/data/lfsa_ewhun2?lang=en",
    "Average Weekly Hours Worked"
)

# 2. Employment Rate
preview_dataset(
    "https://ec.europa.eu/eurostat/api/dissemination/statistics/1.0/data/tps00204?lang=en",
    "Employment Rate"
)

 Accessed Average Weekly Hours Worked Data
Dimensions: ['freq', 'nace_r2', 'wstatus', 'worktime', 'age', 'sex', 'unit', 'geo', 'time']

       Key  Value
0  1202869   46.3
1  1202870   43.7
2  1203005   46.4
3  1203006   45.0
4  1203007   44.3

 Accessed Employment Rate Data
Dimensions: ['freq', 'indic_de', 'geo', 'time']

    Key  Value
0  1188    9.5
1  1192    8.8
2  1194    7.2
3  1195    7.0
4  1198    6.2