In [39]:
import pandas as pd
import numpy as np

In [40]:
gini_df = pd.read_csv('datasets/GINI.csv')
tax_union_df = pd.read_csv('datasets/tax_union_data.csv')
gov_spending_df = pd.read_csv('datasets/gov_spending.csv')
unemp_intrate_df = pd.read_csv('datasets/OECD_LONGTERM_UNEMPLOYMENT_CLEANED.csv')
pop_gdp_inf_df = pd.read_csv('datasets/pop_gdp_inf.csv')

In [41]:
gini_df = gini_df.rename(columns={
    'value': 'GINI',
    'date': 'TIME_PERIOD',
    'country': 'Reference area'
})




unemp_intrate_df = unemp_intrate_df.rename(columns={
    'Country': 'REF_AREA',
    'Year': 'TIME_PERIOD'
})


pop_gdp_inf_df = pop_gdp_inf_df.rename(columns={
    'country': 'REF_AREA',
    'year': 'TIME_PERIOD'
})

In [42]:
tax_union_df

,Unnamed: 0,TIME_PERIOD,Reference area,REF_AREA,Trade union density,Combined corporate income tax rate
0,0,2000,Mexico,MEX,16.700001,35.0
1,1,2000,Mexico,MEX,16.700001,35.0
2,2,2000,Mexico,MEX,16.700001,35.0
3,3,2002,Mexico,MEX,15.500000,35.0
4,4,2002,Mexico,MEX,15.500000,35.0
...,...,...,...,...,...,...
2254,2254,2018,Finland,FIN,60.000000,20.0
2255,2255,2018,Finland,FIN,60.000000,20.0
2256,2256,2019,Finland,FIN,58.799999,20.0
2257,2257,2019,Finland,FIN,58.799999,20.0
2258,2258,2019,Finland,FIN,58.799999,20.0

In [43]:
megaframe = pd.merge(gini_df, tax_union_df, on=['Reference area', 'TIME_PERIOD'])
megaframe = megaframe.drop(columns='Unnamed: 0', errors='ignore')
megaframe.head()

,Reference area,TIME_PERIOD,GINI,REF_AREA,Trade union density,Combined corporate income tax rate
0,Germany,2019,0.318,DEU,16.299999,14.112781
1,Germany,2019,0.318,DEU,16.299999,15.000000
2,Germany,2019,0.318,DEU,16.299999,15.825000
3,Germany,2019,0.318,DEU,16.299999,29.937781
4,Germany,2019,0.318,DEU,16.299999,15.825000

In [44]:
print("gov_spending_df columns:", gov_spending_df.columns.tolist())
print("megaframe columns:", megaframe.columns.tolist())

gov_spending_df columns: ['Unnamed: 0', 'REF_AREA', 'TIME_PERIOD', 'Education spending', 'Health spending', 'Housing spending', 'Community development spending']
megaframe columns: ['Reference area', 'TIME_PERIOD', 'GINI', 'REF_AREA', 'Trade union density', 'Combined corporate income tax rate']

In [45]:



print("gov_spending_df columns:", gov_spending_df.columns.tolist())
print("megaframe columns:", megaframe.columns.tolist())


megaframe = pd.merge(megaframe, gov_spending_df, on=['REF_AREA', 'TIME_PERIOD'], how='left')

gov_spending_df columns: ['Unnamed: 0', 'REF_AREA', 'TIME_PERIOD', 'Education spending', 'Health spending', 'Housing spending', 'Community development spending']
megaframe columns: ['Reference area', 'TIME_PERIOD', 'GINI', 'REF_AREA', 'Trade union density', 'Combined corporate income tax rate']

In [46]:
megaframe.drop(columns=['Unnamed: 0'], inplace=True)

megaframe

,Reference area,TIME_PERIOD,GINI,REF_AREA,Trade union density,Combined corporate income tax rate,Education spending,Health spending,Housing spending,Community development spending
0,Germany,2019,0.318,DEU,16.299999,14.112781,0.042956,0.071568,0.002983,0.001955
1,Germany,2019,0.318,DEU,16.299999,15.000000,0.042956,0.071568,0.002983,0.001955
2,Germany,2019,0.318,DEU,16.299999,15.825000,0.042956,0.071568,0.002983,0.001955
3,Germany,2019,0.318,DEU,16.299999,29.937781,0.042956,0.071568,0.002983,0.001955
4,Germany,2019,0.318,DEU,16.299999,15.825000,0.042956,0.071568,0.002983,0.001955
...,...,...,...,...,...,...,...,...,...,...
239,United States,2001,0.406,USA,12.900000,39.270500,0.062989,0.066057,NaN,NaN
240,United States,2000,0.401,USA,12.900000,35.000000,0.060415,0.060663,NaN,NaN
241,United States,2000,0.401,USA,12.900000,32.700000,0.060415,0.060663,NaN,NaN
242,United States,2000,0.401,USA,12.900000,6.640000,0.060415,0.060663,NaN,NaN
243,United States,2000,0.401,USA,12.900000,39.340000,0.060415,0.060663,NaN,NaN

In [47]:
unemp_intrate_df.rename(columns={'Country': 'REF_AREA'}, inplace=True)
megaframe = pd.merge(megaframe, unemp_intrate_df, on=['REF_AREA', 'TIME_PERIOD'], how='left')

megaframe

,Reference area,TIME_PERIOD,GINI,REF_AREA,Trade union density,Combined corporate income tax rate,Education spending,Health spending,Housing spending,Community development spending,IRLT,UNEMP
0,Germany,2019,0.318,DEU,16.299999,14.112781,0.042956,0.071568,0.002983,0.001955,-0.253634,2.975000
1,Germany,2019,0.318,DEU,16.299999,15.000000,0.042956,0.071568,0.002983,0.001955,-0.253634,2.975000
2,Germany,2019,0.318,DEU,16.299999,15.825000,0.042956,0.071568,0.002983,0.001955,-0.253634,2.975000
3,Germany,2019,0.318,DEU,16.299999,29.937781,0.042956,0.071568,0.002983,0.001955,-0.253634,2.975000
4,Germany,2019,0.318,DEU,16.299999,15.825000,0.042956,0.071568,0.002983,0.001955,-0.253634,2.975000
...,...,...,...,...,...,...,...,...,...,...,...,...
239,United States,2001,0.406,USA,12.900000,39.270500,0.062989,0.066057,NaN,NaN,5.017500,4.733333
240,United States,2000,0.401,USA,12.900000,35.000000,0.060415,0.060663,NaN,NaN,6.029167,3.991667
241,United States,2000,0.401,USA,12.900000,32.700000,0.060415,0.060663,NaN,NaN,6.029167,3.991667
242,United States,2000,0.401,USA,12.900000,6.640000,0.060415,0.060663,NaN,NaN,6.029167,3.991667
243,United States,2000,0.401,USA,12.900000,39.340000,0.060415,0.060663,NaN,NaN,6.029167,3.991667

In [48]:
pop_gdp_inf_df.rename(columns={'country': 'REF_AREA','year': 'TIME_PERIOD'}, inplace=True)


megaframe = pd.merge(megaframe, pop_gdp_inf_df, on=['REF_AREA', 'TIME_PERIOD'], how='left')
megaframe.drop(columns=['Unnamed: 0'], inplace=True)
megaframe

,Reference area,TIME_PERIOD,GINI,REF_AREA,Trade union density,Combined corporate income tax rate,Education spending,Health spending,Housing spending,Community development spending,IRLT,UNEMP,"Population, total",GDP per capita (current US$),"Inflation, consumer prices (annual %)"
0,Germany,2019,0.318,DEU,16.299999,14.112781,0.042956,0.071568,0.002983,0.001955,-0.253634,2.975000,25334826.0,54972.701789,1.610768
1,Germany,2019,0.318,DEU,16.299999,15.000000,0.042956,0.071568,0.002983,0.001955,-0.253634,2.975000,25334826.0,54972.701789,1.610768
2,Germany,2019,0.318,DEU,16.299999,15.825000,0.042956,0.071568,0.002983,0.001955,-0.253634,2.975000,25334826.0,54972.701789,1.610768
3,Germany,2019,0.318,DEU,16.299999,29.937781,0.042956,0.071568,0.002983,0.001955,-0.253634,2.975000,25334826.0,54972.701789,1.610768
4,Germany,2019,0.318,DEU,16.299999,15.825000,0.042956,0.071568,0.002983,0.001955,-0.253634,2.975000,25334826.0,54972.701789,1.610768
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,United States,2001,0.406,USA,12.900000,39.270500,0.062989,0.066057,NaN,NaN,5.017500,4.733333,19274701.0,19695.729738,4.407135
240,United States,2000,0.401,USA,12.900000,35.000000,0.060415,0.060663,NaN,NaN,6.029167,3.991667,19028802.0,21870.415967,4.457435
241,United States,2000,0.401,USA,12.900000,32.700000,0.060415,0.060663,NaN,NaN,6.029167,3.991667,19028802.0,21870.415967,4.457435
242,United States,2000,0.401,USA,12.900000,6.640000,0.060415,0.060663,NaN,NaN,6.029167,3.991667,19028802.0,21870.415967,4.457435
243,United States,2000,0.401,USA,12.900000,39.340000,0.060415,0.060663,NaN,NaN,6.029167,3.991667,19028802.0,21870.415967,4.457435

In [49]:
megaframe.dropna(inplace=True)
megaframe

,Reference area,TIME_PERIOD,GINI,REF_AREA,Trade union density,Combined corporate income tax rate,Education spending,Health spending,Housing spending,Community development spending,IRLT,UNEMP,"Population, total",GDP per capita (current US$),"Inflation, consumer prices (annual %)"
0,Germany,2019,0.318,DEU,16.299999,14.112781,0.042956,0.071568,0.002983,0.001955,-0.253634,2.975,25334826.0,54972.701789,1.610768
1,Germany,2019,0.318,DEU,16.299999,15.000000,0.042956,0.071568,0.002983,0.001955,-0.253634,2.975,25334826.0,54972.701789,1.610768
2,Germany,2019,0.318,DEU,16.299999,15.825000,0.042956,0.071568,0.002983,0.001955,-0.253634,2.975,25334826.0,54972.701789,1.610768
3,Germany,2019,0.318,DEU,16.299999,29.937781,0.042956,0.071568,0.002983,0.001955,-0.253634,2.975,25334826.0,54972.701789,1.610768
4,Germany,2019,0.318,DEU,16.299999,15.825000,0.042956,0.071568,0.002983,0.001955,-0.253634,2.975,25334826.0,54972.701789,1.610768
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,United Kingdom,2001,0.371,GBR,29.299999,30.000000,0.049213,0.052163,0.010607,0.003392,4.929500,5.075,19274701.0,19695.729738,4.407135
156,United Kingdom,2001,0.371,GBR,29.299999,30.000000,0.049213,0.052163,0.010607,0.003392,4.929500,5.075,19274701.0,19695.729738,4.407135
157,United Kingdom,2000,0.388,GBR,29.799999,30.000000,0.046593,0.049401,0.011409,0.002454,5.328975,5.450,19028802.0,21870.415967,4.457435
158,United Kingdom,2000,0.388,GBR,29.799999,30.000000,0.046593,0.049401,0.011409,0.002454,5.328975,5.450,19028802.0,21870.415967,4.457435
159,United Kingdom,2000,0.388,GBR,29.799999,30.000000,0.046593,0.049401,0.011409,0.002454,5.328975,5.450,19028802.0,21870.415967,4.457435